.catagory-container{
    margin-top: 70px;
    height: 100%;
}

.catagory-video-name-list{
    display: none;
    width:100%;
    min-height: 100vh;
}

.catagory-video-play-area{
    width:100%;
    height: 100%;
    padding: 1rem;
}

.start-learning-message{
    text-align: center;
    font-weight: 300;
}

@media (min-width:700px){
    .catagory-video-name-list{
        display: block;
    }

    .catagory-container{
        display: grid;
        margin-top: 123px;
        grid-template-columns: 4fr 1fr;
    }
}