.playlist-container {
  height: 100%;
}

.playlist-video-area {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.playlist-list-area {
  display: none;
  width: 100%;
  min-height: calc(100vh - 7.7rem);
}

@media (min-width: 700px) {
  .playlist-list-area {
    display: block;
  }

  .playlist-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
}
