.video-name-list{
    list-style: none;
    margin:0rem;
    padding: 0rem;
    height: 100%;
    width: 100%;
    background-color: var(--secondary);
}

.video-name-list li{
    color: var(--white);
    width: 100%;
    cursor: pointer;
}

.video-name-list li p{
    margin: 0rem;
    padding: 1rem;
}

.video-name-list li :hover{
    background-color: var(--primary);
}