body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #FA9141;
  --secondary: #333c3a;
  --success:green;
  --success-mild:#016c5d;
  --success-bright:limegreen;
  --failure:red;
  --failure-mild:salmon;
  --neutral:gray;
  --neutral-mild:lightgrey;
  --white:white;
  --black:black;
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}